@font-face {
    font-family: 'wedding-font';
    src: url('./fonts/AlexBrush-Regular.ttf');
  }

@font-face {
    font-family: 'wedding-font-labels';
    src: url('./fonts/Kalam-Regular.ttf');
  }

body {
    background-color: #f7e1d7;
}

#content {
    position: relative;
}

#divider-top {
    width: 100%;
    height: auto;
    margin-top: 5%;
}

#couple-name {
    text-align: center;
    font-family: wedding-font;
    font-size: 55px;
    font-weight: 400;
    margin-top: 10%;
    margin-bottom: 15%;
}

.bride-groom-animation {
    display: flex;
    justify-content: space-between;
    position: relative;
}
  
#bride-svg {
    animation-name: move-left-center;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    width: 25%;
    height: auto;
}

#groom-svg {
    animation-name: move-right-center;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    width: 25%;
    height: auto;
}

@keyframes move-left-center {
    0% {
        translate: 0 0;
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    50% {
        transform: translateX(135%);
        opacity: 1;
    }
    55% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: translateX(135%);
    }
}

@keyframes move-right-center {
    0% {
        translate: 0 0;
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    50% {
        transform: translateX(-135%);
        opacity: 1;
    }
    55% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: translateX(-135%);
    }
}

#heart-wrapper {
    position: absolute;
    width: 100%;
  }
  
  #pulsingheart { 
    position: relative; 
    margin-left: 45%;
    margin-top: 5%;
    width: 12%; 
    height: auto;
    animation: pulse 5s infinite;
    opacity: 0;
  } 
  
  @keyframes pulse {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    55% {
        opacity: 1;
        transform: scale(1)
    }
    65% {
        opacity: 1;
        transform: scale(1.3)
    }
    80% {
        opacity: 1;
        transform: scale(1)
    }
    90% {
        opacity: 1;
        transform: scale(1.3)
    }
    100% {
        opacity: 0;
        transform: scale(1)    }
  }

#wedding-date {
    width: 100%;
    margin-top: 15%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: wedding-font;
    font-size: 55px;
    font-weight: 400;
}

#month {
    width: 25%;
    margin-left: 5%;
    margin-right: 5%;
    border-left: 3px solid black;
    border-right: 3px solid black;
}

#wedding-couple {
    width: 100%;
    height: auto;
}

#divider-middle {
    width: 100%;
    height: auto;
    margin-top: 5%;
}

#form-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#wishes-label {
    margin-top: 5%;
    width: 100%;
    text-align: center;
    font-family: wedding-font-labels;
    font-size: 23px;
    font-weight: 500;
}

#wishes {
    width: 80%;
    font-size: 18px;
    font-family: wedding-font-labels;
    resize: none;
    border-radius: 15px;
    padding: 4%;
    border: none;
    mask: radial-gradient(25px at 40px 40px, transparent 98%, black) -40px -40px;
    text-align: center;
}

#signature-label {
    font-size: 25px;
    font-family: wedding-font-labels;
    margin-top: 8%;
    margin-bottom: 1%;
    width: 100%;
    text-align: center;
}

#signature {
    width: 80%;
    padding: 2% 4%;
    font-size: 20px;
    font-family: wedding-font-labels;
    margin-bottom: 5%;
    border: none;
    overflow: hidden;
    position: relative;
    mask: radial-gradient(circle 15px at top left, transparent 98%, black) top left,
    radial-gradient(circle 15px at bottom left, transparent 98%, black) bottom left,
    radial-gradient(circle 15px at top right, transparent 98%, black) top right,
    radial-gradient(circle 15px at bottom right, transparent 98%, black) bottom right;
    mask-size: 51% 51%;
    mask-repeat: no-repeat;
    text-align: center;
}

#images-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#images-input + label {
    width: 60%;
    text-align: center;
    padding: 10px 0;
    font-size: 1.2em;
    font-weight: 500;
    color: black;
    background-color: #edafb8;
    display: inline-block;
    border-radius: 50px;
    font-family: wedding-font-labels;
}

#submit-wrapper {
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#submit {
    padding: 2%;
    width: 30%;
    font-size: 1.4em;
    font-family: wedding-font-labels;
    font-weight: 500;
    letter-spacing: 1.5px;
    background-color: #b0c4b1;
    border: none;
    border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
    margin-bottom: 3%;
}

#divider-bottom {
    width: 100%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

*:focus {
    outline: none;
}

  #heart1 {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    left: 2%;
    opacity: 0.8;
    animation: float-heart 30s linear infinite, side-way 2s ease-in-out infinite alternate;
  }

  #heart2 {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    left: 19%;
    opacity: 0.9;
    animation: float-heart 20s linear infinite, side-way 2s ease-in-out infinite alternate;
  }

  #heart3 {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    left: 34%;
    opacity: 0.7;
    animation: float-heart 25s linear infinite, side-way 2s ease-in-out infinite alternate;
  }

  #heart4 {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    left: 50%;
    opacity: 0.6;
    animation: float-heart 17s linear infinite, side-way 3s ease-in-out infinite alternate;
  }

  #heart5 {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    left: 67%;
    opacity: 0.8;
    animation: float-heart 23s linear infinite, side-way 1s ease-in-out infinite alternate;
  }

  #heart6 {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    left: 85%;
    opacity: 0.7;
    animation: float-heart 26s linear infinite, side-way 2s ease-in-out infinite alternate;
  }

  @keyframes float-heart {     
    0% { 
        bottom: -2%;
    }
    100% { 
        bottom: 100%;
    }
}

@keyframes side-way {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:30px;
    }
  }

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #4a5759;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    opacity: 0;
 }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#heart-border {
    width: 30%;
    height: auto;
}